{% extends 'base.html' %} 
{% block title %}404. НЕВОЗМОЖНО ОТОБРАЗИТЬ СТРАНИЦУ!{% endblock %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <div class="col-12 col-lg-7 my-5">
        <h1 class="mb-5">Этой страницы не существует!</h1>
        <p></p>
        <p>
          <a href="{{ url_for('get_unique_short_id') }}">Вернуться на главную</a>
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/404.png') }}" alt="" />
      </div>
    </div>
  </section>
</main>
{% endblock %}